/* Colors*/
$column-color:hsl(0, 0%, 100%);
$shadow-color:hsla(0, 0%, 0%, 0.1);
$header-color:hsl(0, 0%, 93%);
$background-color:hsl(0, 0%, 94%);
$hover-color:hsla(0, 0%, 0%, 0.1);
$red-color: #f02f2f;
$green-color: #1a9436;
$white-color: #fff;

/* Styles globaux pour le tableau Kanban */
.kanban-board {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    background-color: $background-color;
    border-radius: 10px;
    box-shadow: 0 4px 8px $shadow-color;
  }
  
  /* Style pour chaque colonne du tableau */
  .kanban-column {
    width: 24%;
    background-color: $column-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px $shadow-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  /* En-tête de chaque colonne */
  .kanban-column-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px 0;
    background-color: $background-color;
    border-radius: 5px;
  }
  
  /* Liste des tâches dans chaque colonne */
  .kanban-task-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  /* Style pour chaque tâche */
  .kanban-task {
    background-color: $column-color;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px $shadow-color;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }
  
  .kanban-task:hover {
    background-color: $background-color;
  }
  
  /* Input pour ajouter une nouvelle tâche */
  .add-task-input {
    padding: 10px;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    flex: 1;
  }
  
  /* Bouton pour ajouter une nouvelle tâche */
  .add-task-button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: $green-color;
    color: $white-color;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .add-task-button:hover {
    background-color: $green-color;
  }
  
  /* Style pour la colonne "To Do" */
  .to-do-column .kanban-column-header {
    background-color: #ffcb1e;
  }
  
  /* Style pour la colonne "Doing" */
  .doing-column .kanban-column-header {
    background-color: #13a4d9;
  }
  
  /* Style pour la colonne "Done" */
  .done-column .kanban-column-header {
    background-color: #28a745;
  }
  
  /* Style pour la colonne "Trash" */
  .trash-column .kanban-column-header {
    background-color: $red-color;
  }
  
  /* Bouton pour vider la corbeille */
  .empty-trash-button {
    background-color: $red-color;
    color: $white-color;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .empty-trash-button:hover {
    background-color: hsl(0, 69%, 45%);
  }
  