.login-wrapper {
    width: 800px;
    height: 442px;
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    position: relative;
    box-shadow: 0 2px 36px rgba(0,0,0,0.125);
    transition: all 200ms;
}

.login-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-left-container{
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.login-right{
    width: 50%;
    height: 100%;
    padding: 90px 20px 20px;
    min-height: 250px;
}

.connexion-view-structure{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.connexion-view-structure-row{
    height: 100%;
    display: flex;
    flex-direction: column;
    }

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #444444;
    font-size: 25px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    outline: 0 !important;
    font-family: 'Open Sans', sans-serif;
}

.title {
        color: #444444;
    font-size: 25px;
    font-weight: bold;
}

.zone-bouton {
        display: flex;
    justify-content: space-between;
    align-items: center;
}

.struct-login-form-column {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 5px;
}

.identification-demande-mdp-zonebuttons {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 20px;
}

input {
    width: 100%;
    height: 42px !important;
    padding: 12px 8px;
    background: none !important;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 4px;
    transition: border 300ms;
}

.identification-demande-mdp-backlink {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.acd-btn-secondary {
    background-color: #203239 !important;
    color: white !important;
}

.connectionText {
    transform: translateX(14px);
    transition: all 300ms;
    height: 100%;
    line-height: 35px;
}